 .innerLeftEye {
     position: absolute;
     top: 20px;
     left: 20px;
     width: 18px;
     height: 24px;
     border-radius: 50%;
     border: 1 px solid #000;
     background: #000;
 }
 
 .innerLeftEye:before {
     content: "";
     position: absolute;
     width: 3px;
     height: 4px;
     background: white;
     z-index: 11;
     top: 14px;
     left: 4px;
     border-radius: 50%;
 }
 
 .innerLeftEye:after {
     content: "";
     position: absolute;
     width: 6px;
     height: 8px;
     background: white;
     z-index: 11;
     top: 6px;
     left: 9px;
     border-radius: 50%;
 }