   .leftFootBottomWrapper {
       position: absolute;
       width: 130px;
       top: 52px;
       left: -1px;
       height: 38px;
       overflow: hidden;
       z-index: 2;
   }
   
   .leftFootBottom {
       position: absolute;
       width: 120px;
       height: 60px;
       border: 4px solid #000;
       background: #FF9C00;
       border-top-left-radius: 50% 44%;
       border-top-right-radius: 50% 44%;
       border-bottom-left-radius: 50% 56%;
       border-bottom-right-radius: 50% 56%;
       top: -30px;
       left: 3px;
   }